<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
        <div class="header">
            BEM-VINDO<br>
            =-=-=-=-=-=-=-=-=-=-=-=<br>
            Pesquise uma pessoa usando o id<br>
            =-=-=-=-=-=-=-=-=-=-=-=
        </div>
        <br>
        <div>
            ID
        </div>
        <input type="text" placeholder="Informe o ID" id="inputId">
        <button class="btnPesquisar">
            Pesquisar
        </button>
        <div>
            <br>
            Resultado da pesquisa:
        </div>
        <form >
            <div>
                <label for="name">Nome:</label>
                <input type="text" id="inputName" />
            </div>
            <br>
            <div>
                <label for="lastname">Sobrenome:</label>
                <input type="text" id="inputLastName" />
            </div>
            <br>
            <div>
                <label for="age">Idade:</label>
                <input type="text" id="inputAge" />
            </div>
            <br>
            <div>
                <label for="job">Profissão:</label>
                <input type="text" id="inputJob" />
            </div>
            <br>
            <div class="btnLimpar">
                <button type="submit" class="btnLimpar" value="Limpar" onclick="limparPerson()">Limpar campos</button>
            </div>
        </form>
    </body>
</html>
<script>
    
    function limparPerson(){
        document.getElementById('inputName').value = '';
        document.getElementById('inputLastName').value = '';
        document.getElementById('inputAge').value = '';
        document.getElementById('inputJob').value = '';
    }

    function buscarPerson(persons, type){
        let result = "";

        for (let i = 0; i < persons; i++ ){
            const person = persons[i];
            if (person.type === type) {
                if (result !== type) {
                    result += person.name;
                }
            }
        }
        return result;
    }

</script>